{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}
{% block head %}
	<link rel="stylesheet" href="/static/styles/stat-table.css">
{% endblock %}

{% block content %}

	<div class="shell">
		<h1>Towers of Divinity</h1>
		<form action="/" method="post" class="pure-form pure-form-aligned">
			<fieldset>
				<div class="pure-control-group">
					<label for="name">Character Name:</label>
					<input name="name" type="text" placeholder="Jane">
				</div>
			</fieldset>
			<div class="pure-controls">
				<button type="submit" class="pure-button pure-button-primary">Submit</button>
			</div>

		</form>
	</div>

{% endblock %}